.promo{
    padding: 76px 0px 120px 0px;
    text-align: center;
    &__title{
        max-width: 800px;
        margin: 0 auto;
    }
    &__descr{
        margin: 0 auto;
        margin-top: 40px;
        max-width: 484px;
    }
    &__btns_group{
        margin-top: 80px;
        display: inline-flex;
        align-items: flex-start;
        gap: 16px;
    }
}

